body {
  margin: 0;
  font-family: 'Pompiere',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, rgb(92, 255, 201), rgb(179, 254, 229));
    height: 100vh;
}

